@{
    ViewBag.Title = "Emergency Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                
               <b> Sub-System of ETRS System </b>used to monitor the current status of the roads ,<br />
                 Accidents which occure right now with a detailed view and and a map to show
                the accidents location and the shortest path to it .
               
            </p>
        </div>
    </section>
}
<h3>This system consist of Subsystems <b><br />1-ETRS user mobile application</b><br /> <b>2-ETRS Ambulance Back-end ( Web / Mobile Application )</b>:</h3>
<ol class="round">
    <li class="one">
        <h5>ETRS User Mobile Application</h5>
        The ETRS user mobile application 
        used to send accident report from eyewitness or card driver while the ETRS 
        Ambulance mobile application will be used for receive and manage the reports incoming from users.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245151">Learn more…</a>
    </li>

    <li class="two">
        <h5>ETRS Ambulance Back-end ( Web / Mobile Application)</h5>
        The Ambulance application will receive report and set ambulance in active mode.
        <br />Monitor the current status of the roads ,
                 Accidents which occure right now with a detailed view and and a map to show
                the accidents location and the shortest path to it
        <a href="http://go.microsoft.com/fwlink/?LinkId=245153">Learn more…</a>
    </li>

   @* <li class="three">
        <h5>Find Web Hosting</h5>
        You can easily find a web hosting company that offers the right mix of features
        and price for your applications.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245157">Learn more…</a>
    </li>*@
</ol>
